*
{
  /*border: 2px solid red;*/
  margin: 3px;
}
body
{
  display: flex;
  flex-direction: column;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.head
{
  display: flex;
  flex-direction: column;
  color : white;
}
.header
{
  display: flex;
  justify-content: space-between;
}
#right ol
{
  display: flex;
  list-style: none;
  flex-direction: row reverse;
  gap: 16px;
}
.headlast
{
  display: flex;
}

.drag
{
  width : 50%;
}
